@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */

  font-family: "Space Mono", monospace;
  line-height: 1.5;
  font-weight: 400;

  color: #ffffff;
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg-color: #141414;
  --primary: lightblue;
  --secondary: #ddf7e3;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
}

h3 {
  color: #646465;
}

li {
  list-style: none;
}

/* Cool Animation on scroll */
.hidden-scroll {
  opacity: 0;
  filter: blur(3px);
  transition: all 1s;
}

.show-scroll {
  opacity: 1;
  filter: blur(0);
}

/* Scrollbar */
::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, var(--primary)),
    color-stop(0.86, var(--secondary))
  );
}

@media (prefers-reduced-motion) {
  .hidden-scroll {
    transition: none;
  }
}
